<ul class="log-list-container">
    <li class="log-list-item" *ngFor="let log of formattedLogs" (click)="onSelect(log)"
    [class.selected]="log === selectedLog">
        <div class = "log-item-date">{{log.startDate}}</div>
        <div class = "log-item-time">{{log.startTime}}</div>
        <div class = "log-item-duration">{{log.duration}}</div>
        <div class = "log-item-task">{{log.task}}</div>
        <button class = "log-delete" (click)="deleteLog(log)">Delete</button>
    </li>
</ul>
<div class= "add-log">
    <button (click) = "openAddLog()">Add Log</button>
</div>