@import '../../Styling.less';
@margin: 10px;
@padding: 5px;
.log-list-container {
    height: 75%;
    padding: 0;
    margin: @margin;
    overflow-y: scroll;
    .log-list-item {
        border: 2px solid black;
        padding: @padding;
        font-family: @u-font-family;
        list-style-type: none;
        .log-item-date {
            font-weight: @u-fontweight-bold;
        }
        &.selected {
            border-width: 4px;
        }
    }
}