<div class="timer-buttons-container">
  <button class="play-button"
          (click)="startTimer()"
          [disabled]="play">Play
    <div class="play-button-triangle"></div>
  </button>
  <button class="stop-button"
          (click)="stopTimer()"
          [disabled]="!play">Stop
    <div class="stop-button-square"></div>
  </button>
</div>
