<!-- <div class="data-container">
    <div class="options-button-container">
        <button *ngFor="let option of options" (click)='setTimeCategory(option)'>{{option}}</button>
    </div>
    <div class = "time-jump-button-container">
        <button (click) = "jumpBack()">Back</button>
    </div>
    <app-task-select></app-task-select>
    <app-chart [data]="data" [timeCategory]="timeCategory">
    </app-chart>
</div> -->
<app-datepicker></app-datepicker>