@import '../../Styling.less';

.data-container {
    display: flex;
    flex-direction: column;
    .options-button-container {
        button {
            .button-style;
            border: 0px;
        }
    }
}