<div class="task-select-container">
  
    <select (ngModelChange)="onTaskChange($event)" [(ngModel)]="selectedTask">
      <option *ngFor="let task of tasks" [ngValue]="task">{{task.name}}</option>
    </select>
</div>
<p *ngIf="selectedTask">{{selectedTask.name}}</p>