<ngb-datepicker #dp (select)="onDateSelection($event)" [dayTemplate]="d"></ngb-datepicker>
<ng-template #d let-date="date">
  <span class="custom-day" [class.range]="isInside(date)">{{date.day}}</span>
</ng-template>

<pre>From: {{ fromDate | json }} </pre>
<pre>To: {{ toDate | json }} </pre>