@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,700');

@u-font-family: 'Josefin Sans', sans-serif;

@u-fontweight-normal: 400;
@u-fontweight-light: 300;
@u-fontweight-bold: 600;

.button-style {
    font-family: @u-font-family;
    font-weight: @u-fontweight-light;
    background-color: transparent;
}
