<div class="modal-header">Modal Header
<button type="button" class="close" (click)="activeModal.close('Close click')">X
</button>
</div>
<div class="modal-body">
    <form #f="ngForm" (ngSubmit)="completeLog(f.value)">
        <app-timer (timerInfo$)="enterTime($event)" (elapsedOutput$)="displayElapsedTime($event)">
        </app-timer>
        <div *ngIf="elapsedTime">{{elapsedTime.hours}} : {{ elapsedTime.minutes }} : {{ elapsedTime.seconds}}</div>
        <div ngbDropdown>
            <select ngbDropdownToggle [(ngModel)]="currentLog.task" name="task" required>
                <option ngbDropdownMenu *ngFor="let task of tasks" [ngValue]="task.name">{{task.name}}</option>
            </select>
        </div>
        <button type="submit" [disabled]="!(currentLog.start && currentLog.end)">Submit</button>
    </form>
</div>

