<!-- <div class="task-name-form">
  <label>Task name:
    <input #taskName>
  </label>
  <button [disabled] = "taskName.value ==''" (click)="saveTask(taskName.value); taskName.value = ''">Save Task</button>
</div> -->

<div class="modal-header">Create new task
  <button type="button" class="close" (click)="activeModal.close('Close click')">X
  </button>
</div>
<div class="modal-body">
  <form #f="ngForm" (ngSubmit)="saveTask(f.value)">
    <label for="task-name">Task name</label>
    <input #name type="text" [(ngModel)]="newTask" name="name" id="task-name"required>
    <button type="submit" [disabled]="!f.form.valid">Submit</button>
  </form>
</div>